In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [6]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.shape

(1704, 6)

In [9]:
df.shape()

TypeError: 'tuple' object is not callable

In [10]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [12]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.332, 9240934, 820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.10071],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499603],
       ['Zimbabwe', 'Africa', 2002, 39.989, 11926563, 672.0386227],
       ['Zimbabwe', 'Africa', 2007, 43.487, 12311143, 469.7092981]],
      dtype=object)

In [13]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

# Subsetting

In [16]:
country_df = df['country']

In [17]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [18]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [19]:
type(country_df)

pandas.core.series.Series

In [20]:
subset = df[['country', 'continent', 'year']]

In [21]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [22]:
pandas.__version__

NameError: name 'pandas' is not defined

In [23]:
df[[0, 1]]

KeyError: "None of [Index([0, 1], dtype='int64')] are in the [columns]"

In [1]:
df.head()

NameError: name 'df' is not defined

In [2]:
df.loc[0]

NameError: name 'df' is not defined

In [3]:
df.loc[[0, 99]]

NameError: name 'df' is not defined

In [4]:
df.loc[-1]

NameError: name 'df' is not defined

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0, 99]]

In [ ]:
df.iloc[-1]

In [ ]:
df.ix[0]

In [ ]:
subset = df.loc[:, ['year', 'pop']]

In [ ]:
subset.head()

In [ ]:
subset = df.iloc[:, [2, 4]]
print(subset.head())

In [ ]:
subset = df.iloc[-5::2, :]
subset.head()

# grouped calculations

In [ ]:
df.head()

In [ ]:
df.groupby('year')['lifeExp'].mean()

In [ ]:
df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()

In [ ]:
df\
    .groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']]\
    .mean()

In [ ]:
(df
    .groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']]
    .mean()
    .reset_index()
)

In [ ]:
import matplotlib.pyplot as plt
# probably don't need the magic anymore
%matplotlib inline

(df
     .groupby(['year'])
     [['lifeExp']]
     .mean()
     .plot()
)
plt.show()